.curve{
    svg, .background{
        position: fixed;
        height: calc(100vh + 600px);
        width: 100vw;
        pointer-events: none;
        left: 0;
        top: 0;
        z-index: 999;
    }
    .background{
        background-color: #59554f;
        transition: opacity 0s linear 0.1s;
       
    }
    .routeLabel {
        position: absolute;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        width: 100%;
        color: #f8f5ee;
        font-size: 46px;
        z-index: 1000;
        text-align: center;
        transform: translateY(-10%); 
    }
    
}